html,body {
  height: 100%;
  color: rgba(255,255,255,0.8);}

body {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  padding: 0 !important;
  overflow: auto;}

.container .page {
  padding: 0 10px;}

header .logo {
  height: 20px;
  border: none ;}

article {
  margin: auto;
  margin-top: 20px;}
article section {
  float: left;
  width: 340px;}
article section.btn-box {
  width: 150px;}
article section.btn-box button {
  display: block;
  width: 120px;
  text-align: center;
  background: none;
  border: solid 1px rgb(204, 204, 204);
  margin: 5px;}

footer {
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
  line-height: 20px;
  font-size: 10px;
  margin-top: 35px;}

#homePage div {
  text-align: center;
  padding-top: 100px;}
#homePage div button {
  display: block;
  margin: 0 auto;}
#homePage div button i {
  margin-right: 10px;}
#homePage div .divider {
  padding: 50px 0;
  display: block;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjY0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 48%, rgba(255,255,255,0.64) 49%, rgba(255,255,255,0) 99%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(48%,rgba(255,255,255,0.65)), color-stop(49%,rgba(255,255,255,0.64)), color-stop(99%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 48%,rgba(255,255,255,0.64) 49%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.65) 48%,rgba(255,255,255,0.64) 49%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%);
  width: 1px;
  margin: 10px auto;}
#homePage div .divider:after {
  display: block;
  content: " or ";
  margin-left: -8px;
  background: rgb(19, 19, 19);}

#uploadPage .fileUploadContainer {
  height: 35px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 100px;
  margin-bottom: 30px;}
#uploadPage .fileUploadContainer input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 90px;
  height: 32px;
  margin: 0;}

#capturePage #canvasThumbs {
  display: none;}
