#capturePage
  section.capture
    video#video(width='100%', autoplay='autoplay')
    a#btnCapture(href="#", title="Capture Me!") Capture
    canvas#canvas

  section.filer-buttons
    
    a#btnUpload(href="#", title="Capture Me!") Capture

    ul.button-group
      li
        a.bnw(href="") 
          i Black & White
      li
        a.bright(href="") 
          i Brighter
      li
        a.dark(href="") dark
          i Darker
      li
        a.sepia(href="") sepia
          i Sepia