#homePage.page
  div
    a#capture.pageChanger.button.large.success.round(href="app/capture")
      i.icon-camera.icon-white
      span Lets capture
    span.divider
    .fileUploadContainer
      a#upload.pageChanger.button.large.success.round.chooseFile(href="#") 
        i.icon-upload.icon-white
        span Choose...
      input(type='file', accept='image/*;capture=camera')

